p Hi #{name},
p Your requested quote for #{productName} is complete.
p The final quoted price is $#{price} + $#{fulfillmentPrice} for #{fulfillmentType}.
- var href = `//${baseUrl}:${port}/user/quotes/${id}`;
a(href=href) Complete Order