p Hi #{name},
p You've received a new custom request for #{productName}.
p You can see the answers to your questions, and set a final price for the order in your dashboard: 
- var href = `//${baseUrl}:${port}/dashboard/requests/${id}`;
a(href=href) Request Details