p A request was made to reset your password at Bake.Sale. If this was you, follow the link below.
- var href = `//${baseURL}:${port}/resetpassword?token=${token}`;
a(href=href) #{href}
p The link will expire in 15 minutes.
p If the link doesn't work, you can copy the url into your address bar.